fastapi==0.137.2
uvicorn[standard]
fastapi-mail==1.6.5
fpdf==1.7.2
protobuf==7.35.1
pydantic==2.13.4
pyotp==2.10.0
python-dotenv==1.2.2
bcrypt
python-jose[cryptography]
qrcode[pil]
Pillow
requests==2.34.2
SQLAlchemy==2.0.51
stripe==15.2.1
twilio==9.10.9
pymysql
python-multipart
email-validator
cryptography